.day-label {
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  margin-top: 12px;
  padding: 1em 1.25em;
}

.day-card {
  background-color: #D7EED5;
}

.day-toggle {
  padding: 0.25em 0.25em 0.25em 1.25em;
  background-color: #EBF7EA;
  display: none;
  border-bottom: none;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left middle right";

  h4 {
    margin: 14px auto 0;
  }

  ul {
    margin-top: 8px;
    padding-left: 0;
  }

  li {
    list-style-type: none;
    font-size: 93%;
  }
}

.day-left {
  grid-area: left;
}

.day-middle {
  grid-area: middle;

}

.day-right {
  grid-area: right;
}
