//
// h2 {
//   text-transform: uppercase;
//   margin-left: 5px;
// }
//
.day-label {
  text-transform: uppercase;
  cursor: pointer;
  margin: 12px 0;
}

.day-card {
  background-color: #D7EED5;
  padding: 0.25em 0.25em 0.25em 1.25em;
  margin-bottom: .5em;
}

.day-toggle {
  display: none;
  border-bottom: none;
  margin-bottom: 40px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left middle right";
  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
    font-size: 93%;
  }
}

.day-left {
  grid-area: left;
}

.day-middle {
  grid-area: middle;

}

.day-right {
  grid-area: right;
}
