/* Code Samples */

pre {
  overflow-x: scroll;
}

.try-it {
  background-color: #D7EED5;
  margin-bottom: 40px;
  padding: 0.25em 1.5em;
}

.practice {
  background-color: #DEDEDE;
  padding: 0.25em 1.5em;

  pre {
    border: 1px solid black;
    background-color: rgb(50, 50, 50);
    color: white;
  }
}

.highlighter-rouge {
  max-width: 100%;
  pre {
    white-space: pre-wrap;
  }
}

.codepen-embed-body {
  margin-bottom: 40px;
}
