.solo-day-label {
  text-transform: uppercase;
  cursor: pointer;
  margin: 0;
  margin-top: 12px;
  padding: 1em 1.25em;
}

.solo-day-card {
  background-color: #D7EED5;
}

.solo-day-toggle {
  padding: 0.25em 0.25em 0.25em 1.25em;
  background-color: #EBF7EA;
  display: none;
  border-bottom: none;

  div {
    padding-right: 2em;
  }

  h4 {
    margin: 14px auto 0;
  }

  ul, ol {
    margin-top: 8px;
    padding-left: 0;
  }

  ol {
    li {
      list-style-type: inherit;
    }
  }

  li {
    list-style-type: none;
    font-size: 93%;
  }
}
